---
import ImageGrid from "../../components/mdx/ImageGrid.astro";
import Base from "../../layouts/Base.astro";

const title = "Photos";
const description = "My Photos (i still dont know why this route exists :";
---

<Base title={title} description={description}>
  <section>
    <h1 class="mb-8 text-2xl font-medium tracking-tight">Photos</h1>
    <ImageGrid
      columns={3}
      images={[
        {
          src: "/photos/rick-roll.gif",
          alt: "Roman columns",
          href: "https://unsplash.com/photos/people-walking-near-building-during-daytime-dFLBDQQeffU?utm_content=creditShareLink&utm_medium=referral&utm_source=unsplash",
        },
        {
          src: "/photos/this-is-fine.gif",
          alt: "Big Ben",
          href: "https://unsplash.com/photos/big-ben-london-MdJq0zFUwrw?utm_content=creditShareLink&utm_medium=referral&utm_source=unsplash",
        },
        {
          src: "/photos/source.gif",
          alt: "Sacré-Cœur Basilica",
          href: "https://unsplash.com/photos/a-view-of-the-inside-of-a-building-through-a-circular-window-Tp-3hrx88J4",
        },
        {
          src: "/photos/bye.gif",
          alt: "Eiffel Tower",
          href: "https://unsplash.com/photos/the-eiffel-tower-towering-over-the-city-of-paris-OgPuPvPsHLM?utm_content=creditShareLink&utm_medium=referral&utm_source=unsplash",
        },
        {
          src: "/photos/dontfire.gif",
          alt: "Taj Mahal",
          href: "https://unsplash.com/photos/taj-mahal-india-IPlPkWPJ2fo",
        },
        {
          src: "/photos/Doge.jpg",
          alt: "Colosseum",
          href: "https://unsplash.com/photos/brown-concrete-building-under-blue-sky-during-daytime-3cyBR1rIJmA?utm_content=creditShareLink&utm_medium=referral&utm_source=unsplash",
        },
      ]}
    />

  </section>
</Base>
