---
import Base from "../layouts/Base.astro";
import { socialLinks } from "../config";
import { Image } from "astro:assets";
---



<Base>
  <section>
    <a href={socialLinks.twitter} target="_blank">
      <Image
        src="/profile.webp"
        alt="Profile photo"
        class="rounded-full bg-gray-100 block lg:mt-5 mt-0 lg:mb-5 mb-5 mx-auto sm:float-right sm:ml-5 sm:mb-5 grayscale hover:grayscale-0"
        width={160}
        height={160}
      />
    </a>

    <script>
    function me_when() {
           var a = new Date(2004, 6, 15);
           var b = new Date();
           var c = b - a;
           var d = c / (1000 * 60 * 60 * 24 * 365.25);
           document.getElementById('my_age').innerHTML = '' + Math.floor(d) + '.' + (d % 1).toFixed(9).substr(2);
       }

       // Run immediately on load
       me_when();

       // Then set the interval
       setInterval(me_when, 1);

    </script>

    <h1 class="mb-8 text-2xl font-medium tracking-tight">
        hi I'm K V <i><b>Varun</b></i> Krishnan
    </h1>

    <div class="prose prose-neutral dark:prose-invert">
      <p>
      I'm a <span id="my_age_container" class="inline-block" style="width: 80px; text-align: right; margin-right: 25px;"><span id="my_age"></span></span>        year old kid, trying to find meaning in life.
      </p>
      <p>
        During the days, there's a chance that you'll find me at <a href="https://mec.ac.in">Govt. Model Engineering College
        </a> and on weekends at <a href="https://maps.app.goo.gl/DsTQAUSdMrDeCnYk9">Kunnamkulam</a> or <a href="https://maps.app.goo.gl/EtzLbs5MBFVH5StGA">Kochi</a> in Kerala, India
      </p>

      <p>
        I consider myself as something of a Rust Engineer. You could see some of my works <a href="https://github.com/vrn21">here.</a> Currently evaluating agents at <a href="https://hud.so">hud.</a>
       Previously interned at <a href="https://mecha.so">Mecha Systems</a> and <a href="https://fileago.com">FileAgo </a>
      </p>
      <p>
      More about me, I used to <a href="/design">design</a>, a little bit of Option trading during the weekdays and Weekends for <a href="https://realmadrid.com">Los Blancos</a> 🤍
      </p>
    </div>
  </section>
</Base>
